@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900|Roboto&display=swap');

body {
	background-color: #040208;
	color: #f8fdfb;
	font-family: 'Roboto', sans-serif;
}

header {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 12px;
	margin-bottom: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3%;
	background-color: #2f0345;
	font-weight: 900;	
}

a {
	color: #89fa82;
	text-decoration: none;
}

nav {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 12px;
	margin-bottom: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 1%;
	padding-right: 1%;
	background-color: #2f0345;
}

button {
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #8e2140;
	border: none;
	color: #ffd3ec;
}

button:hover {
	background-color: #913c54;
}

main {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 12px;
	margin-bottom: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3%;
	padding-right: 3%;
	background-color: #2f0345;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	color: #89fa82;
}

section {
	background-color: #34125c;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 1%;
	margin-bottom: 1%;
}